# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Pandora.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ehdgu\dev\Unity-Projects\Pandora\.idea\.idea.Pandora\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
